@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#2e3192] overflow-x-hidden;
}

.inp {
  border: 2px solid #4d50a2;
  padding: 0 25px;
  height: 62.5px;
  border-radius: 35px;
  color: #a2a4d8;
  margin-top: 20px;
  font-size: 16px;
  outline: none;
  background: #2e3192;
}

.btn {
  margin-top: 20px;
  padding: 0 25px;
  height: 70px;
  border-radius: 35px;
  font-family: Helvetica Neue Regular MT, serif;
  background-color: #5e94fa;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
